@model Product_Managment_Model.Product

    <h1> Delete </h1>
<div class="row col-md-4 py-3">
    <form class="form-control" method="post">
        <input style="display: none" asp-for="Id" />
        <div class="form-group p-2">
            <label asp-for="Name" class="control-label"></label>
            <input disabled value="@Model.Name" asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group p-2">
            <label asp-for="Description" class="control-label"></label>
            <input disabled value="@Model.Description" asp-for="Description" type="text" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group p-2">
            <label asp-for="Price" class="control-label"></label>
            <input disabled value="@Model.Price" asp-for="Price" type="number" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group p-2">
            <label asp-for="Stock" class="control-label"></label>
            <input disabled value="@Model.Stock" asp-for="Stock" type="number" class="form-control" />
            <span asp-validation-for="Stock" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-lg">
                <input disabled asp-for="IsEdible" class="form-check-input  mx-2" type="checkbox" value="@Model.IsEdible" />
                <label asp-for="IsEdible" class="control-label">Is this product edible?</label>
            </div>
        </div>

        <button type="submit" class="col-4 btn btn-danger px-3 py-2 fw-bold mt-2">Delete</button>
        <button class="col-4 btn btn-dark px-3 py-2 fw-bold mt-2 mx-2"><a class="text-light text-decoration-none" asp-action="Index">Back to list</a></button>
    </form>
</div>