@using Produuct_Managment_Services
@model List<Product_Managment_Model.Product>

<div class="d-flex container-fluid justify-content-between">
	<h1> Products </h1>
	@if (User.IsInRole(SD.Role_Store) || User.IsInRole(SD.Role_User_Admin))
	{
	<a asp-action="Create" class="btn btn-primary h-25 px-4 fw-bold align-self-center">Add new Product</a>
	}
</div>
<table class="table table-striped bg-dark text-light p-3 text-center fw-light table-hover">
	<thead class="fw-bold ">
			<td>Store</td>
			<td>Name</td>
			<td>Price</td>
			<td>Stock</td>
			<td>Edible</td>
			<td>Category</td>
		@if (User.IsInRole("Store") || User.IsInRole("Admin"))
		{
			<td></td>
		}
		</thead>
		<tbody>
		@if (Model != null)
		{
			@foreach(var product in Model)
			{
				<tr class="text-light">
					<td>@(product.User != null ? product.User.Name : "Unknown")</td>  <!-- Null check -->
					<td>@product.Name</td>
					<td>@product.Price <i class="bi bi-currency-euro"></i></td>
					<td>@product.Stock</td>
					<td>
						@if (product.IsEdible.ToString() == "True")
						{
							<i class="bi bi-check-circle"></i>
						}else{
							<i class="bi bi-x-circle"></i>
						}
						</td>
					<td>@product.Category.Name </td>
					<td>
					
						<div class="btn-group">
							@if (User.IsInRole(SD.Role_User_Admin) || product.User.Email == User.Identity.Name)
							{
							<a class="btn btn-outline-warning mx-2 w-75" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
							<a class="btn btn-outline-danger w-75" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
					}
						</div>
					</td>
				</tr>
			}
		}
		</tbody>
	</table>