@using Produuct_Managment_Services
@model List<Product_Managment_Model.Category>

<div class="d-flex align-items-center container-fluid justify-content-between my-3">
	<h1> Categories </h1>
	@if (User.IsInRole(SD.Role_User_Admin))
	{
		<a asp-action="Create" class="btn btn-primary h-25 px-4 fw-bold align-self-center">Add new Category</a>
	}
</div>
<hr class="productHr" />
<table class="table table-bordered border-dark-subtle table-hover table-light text-dark table-striped text-center ">
	<thead class="fw-bold">
		<td>
			<h4 class="text-dark">Name</h4>
		</td>
		<td>
			<h4 class="text-dark">Description</h4>
		</td>
		<td>
			<h4 class="text-dark">Amount of Products</h4>
		</td>
		@if (User.IsInRole("Admin"))
		{
			<td></td>
		}
	</thead>
	<tbody class="text-light">
		@if (Model != null)
		{
			@foreach (var categoy in Model)
			{
				<tr>
					<td>
						<a asp-action="Products" asp-route-id="@categoy.CategoryId" class="btn btn-dark" style=" min-width: 7.5rem ;">
							<h6 class="text-light">
								@categoy.Name
							</h6>
						</a>
						</td>
				<td>@categoy.Description</td>
				<td>@categoy.Products.Count</td>
					@if (User.IsInRole("Admin"))
					{
						<td>
							<a class="btn btn-outline-warning mx-2" asp-action="Update" asp-route-id="@categoy.CategoryId">Edit</a>
							<a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@categoy.CategoryId">Delete</a>
						</td>
					}
				</tr>
			}
		}
	</tbody>
</table>